:root {
    --color-primary: #3E62F5;
    --color-dark: #030308;
    --color-lighter: #F8F9FB;
    --color-light: #F4F5F7;
    --color-border-light: #EDEDED;
    --color-gray: #868EAE;
    --color-danger: #EF0000;
    --color-success: #08bf9c;
    --color-text: #5A5F7D;
    --color-white: #ffffff;
}

.wpwax-vm-page-inner{
    padding: 0 30px 0 0;
}

/* Button Style */
.wpwax-vm-btn{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 2;
    height: 40px;
    padding: 0 25px;
    border-radius: 8px;
    color: var(--color-white);
    &.wpwax-vm-btn-dark{
        background-color: var(--color-dark);
        border: 1px solid var(--color-dark);
    }
    &.wpwax-vm-btn-light{
        color: var(--color-text);
        background-color: var(--color-light);
        border: 1px solid var(--color-light);
    }
    &.wpwax-vm-btn-danger{
        color: var(--color-white);
        background-color: var(--color-danger);
        border: 1px solid var(--color-danger);
    }
}

/* Table Style */
.wpwax-vm-table-responsive{
    display: block !important;
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}
.wpwax-vm-table{
    display: table;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 0;
    margin-top: 0;
    overflow: visible;
    thead{
        background-color: var(--color-light);
        border-radius: 6px;
        tr{
            th{
                padding: 16px 20px;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
                color: var(--color-text);
            }
        }
    }
    tbody{
        tr{
            &:hover{
                td{
                    background-color: var(--color-lighter);
                }
            }
            td{
                font-size: 14px;
                font-weight: 400;
                color: var(--color-text);
                padding: 15px 20px;
            }
        }
    }
    tr{
        th,
        td{
            &:first-child{
                border-radius: 6px 0 0 6px;
            }
            &:last-child{
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

/* Notice Style */
.wpwax-vm-notice{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
    border-radius: 8px;
    padding: 0 15px;
    color: var(--color-white);
    &.wpwax-vm-notice-success{
        background-color: var(--color-success);
    }
    &.wpwax-vm-notice-danger{
        background-color: var(--color-danger);
    }
    .wpwax-vm-notice__close{
        text-decoration: none;
        position: absolute;
        right: 15px;
        top: 0;
        color: var(--color-white);
    }
    &.wpwax-vm-hide{
        display: none;
    }
}

/* Loading Animation */
.wpwax-vm-loading-spin{
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    position: relative;
    transform: rotate(45deg);
    animation: wpwaxRotate 1.2s infinite linear;
    .wpwax-vm-spin-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: scale(.75);
        position: absolute;
        opacity: .3;
        animation: wpwaxSpinMove 1s infinite linear alternate;
        background-color: var(--color-primary);
        &:nth-child(1){
            left: 0;
            top: 0;
        }
        &:nth-child(2){
            right: 0;
            top: 0;
            animation-delay: .3s;
        }
        &:nth-child(3){
            left: 0;
            bottom: 0;
            -webkit-animation-delay: .5s;
            animation-delay: .5s;
        }
        &:nth-child(4){
            right: 0;
            bottom: 0;
            animation-delay: .7s;
        }
    }
}

/* Animation Keyframe */
@keyframes wpwaxSpinMove {
    100% {
      opacity: 1;
    }
}

@keyframes wpwaxRotate {
    100% {
      transform: rotate(410deg);
    }
}