# Directories
/.git export-ignore
/.github export-ignore

/src export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore

/*.md export-ignore
/*.js export-ignore
/*.json export-ignore