.container {
	position: absolute;
	right: 150px;
	bottom: 82px;
	border: 1px solid;
	padding: 20px;
	background-color: white;
	width: 400px;
	.relative {
		position: relative;
	}
	.back {
		position: absolute;
		left: -10px;
		top: -34px;
		background: black;
		color: white;
		border-radius: 5px;
		padding: 5px;
		font-size: 13px;
		line-height: 1;
		cursor: pointer;
	}
	.minus {
		position: absolute;
		right: 3px;
		top: -34px;
		background: black;
		color: white;
		border-radius: 100%;
		padding: 10px;
		font-size: 17px;
		line-height: 10px;
		cursor: pointer;
	}
	.close {
		position: absolute;
		right: -36px;
		top: -34px;
		background: black;
		color: white;
		border-radius: 100%;
		padding: 10px;
		font-size: 17px;
		line-height: 10px;
		cursor: pointer;
	}
}
