.main {
	width: 100%;
	background: rgb(0,0,0,.7);
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}
.box {
	position: absolute;
	left: 20%;
	top: 20%;
	border: 1px solid;
	padding: 20px;
	background-color: white;
}