/* Berkshire Swash */
@font-face {
    font-family: "BerkshireSwash";
    src: url("../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto regular */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.eot");
    src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Roboto/Roboto-Regular.woff2") format('woff2'),
         url("../fonts/Roboto/Roboto-Regular.woff") format('woff'),
         url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto medium */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.eot");
    src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Roboto/Roboto-Medium.woff2") format('woff2'),
         url("../fonts/Roboto/Roboto-Medium.woff") format('woff'),
         url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Roboto Bold */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.eot");
    src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Roboto/Roboto-Bold.woff2") format('woff2'),
         url("../fonts/Roboto/Roboto-Bold.woff") format('woff'),
         url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Roboto Black */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.eot");
    src: url("../fonts/Roboto/Roboto-Black.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Roboto/Roboto-Black.woff2") format('woff2'),
         url("../fonts/Roboto/Roboto-Black.woff") format('woff'),
         url("../fonts/Roboto/Roboto-Black.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Inter medium */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Medium.eot");
    src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Inter/Inter-Medium.woff2") format('woff2'),
         url("../fonts/Inter/Inter-Medium.woff") format('woff'),
         url("../fonts/Inter/Inter-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Inter Semi Bold */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-SemiBold.eot");
    src: url("../fonts/Inter/Inter-SemiBold.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Inter/Inter-SemiBold.woff2") format('woff2'),
         url("../fonts/Inter/Inter-SemiBold.woff") format('woff'),
         url("../fonts/Inter/Inter-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* Inter Semi Bold */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Bold.eot");
    src: url("../fonts/Inter/Inter-Bold.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Inter/Inter-Bold.woff2") format('woff2'),
         url("../fonts/Inter/Inter-Bold.woff") format('woff'),
         url("../fonts/Inter/Inter-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}