._avatar_1iq8b_1 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
._avatar_1iq8b_1 ._ttt_1iq8b_7 {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}._main_1yz4z_1 {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

._box_1yz4z_10 {
  position: absolute;
  left: 20%;
  top: 20%;
  border: 1px solid;
  padding: 20px;
  background-color: white;
}._container_aud45_1 {
  position: absolute;
  right: 150px;
  bottom: 82px;
  border: 1px solid;
  padding: 20px;
  background-color: white;
  width: 400px;
}
._container_aud45_1 ._relative_aud45_10 {
  position: relative;
}
._container_aud45_1 ._back_aud45_13 {
  position: absolute;
  left: -10px;
  top: -34px;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
}
._container_aud45_1 ._minus_aud45_25 {
  position: absolute;
  right: 3px;
  top: -34px;
  background: black;
  color: white;
  border-radius: 100%;
  padding: 10px;
  font-size: 17px;
  line-height: 10px;
  cursor: pointer;
}
._container_aud45_1 ._close_aud45_37 {
  position: absolute;
  right: -36px;
  top: -34px;
  background: black;
  color: white;
  border-radius: 100%;
  padding: 10px;
  font-size: 17px;
  line-height: 10px;
  cursor: pointer;
}