// @import './core-fonts.scss';

:root {
    --color-primary: #6551f2;
    --color-secondary: #fc495d;
    --color-dark: #030308;
    --color-lighter: #f8f9fb;
    --color-light: #f4f5f7;
    --color-bg-white: #ffffff;
    --color-bg-gray: #e2e2e2;
    --color-bg-general: #ededed;
    --color-bg-page: #f0f0f0;
    --color-border-light: #ededed;
    --color-gray: #868eae;
    --color-info: #1b83fb;
    --color-danger: #ef0000;
    --color-warning-deep: #ff7300;
    --color-warning-light: #f9dfac;
    --color-success: #08bf9c;
    --color-text: #898989;
    --color-white: #ffffff;
    --color-black: #000000;
    --font-family: 'Roboto';
    --font-size: 'medium';
    --font-color: '#898989';
    --btn-radius: 8px;
    --primary-button-color: #ffffff;
    --primary-button-bg: #6551f2;
    --primary-button-border-radius: '15';
    --secondary-button-color: #ffffff;
    --secondary-button-bg: #fc495d;
    --secondary-button-border-radius: '15';
    --color-page-bg: '#030308';
    --color-description: rgba(255, 255, 255, 0.8);
    --color-footer-text: rgba(255, 255, 255, 0.8);
    --footer-text-font-size: 'medium';
}

/* Spacing */
.wpwax-vm-m-0 {
    margin: 0px;
}

.wpwax-vm-mb-0 {
    margin-bottom: 0 !important;
}

.wpwax-vm-mb-10 {
    margin-bottom: 10px !important;
}

.wpwax-vm-mb-20 {
    margin-bottom: 20px;
}

.wpwax-vm-mt-10 {
    margin-top: 10px !important;
}

.wpwax-vm-mt-20 {
    margin-top: 20px;
}

.wpwax-vm-p-20 {
    padding: 20px;
    box-sizing: border-box;
}

.wpwax-vm-p-25 {
    padding: 25px;
    box-sizing: border-box;
}

.wpwax-vm-p-30 {
    padding: 30px;
    box-sizing: border-box;
}

.wpwax-vm-page-inner {
    padding: 0 30px 0 0;
}

.wpwax-vm-text-center {
    text-align: center;
}

/* Wpwax Media Status */
.wpwax-vm-usermedia-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    min-width: 18px;
    height: 18px;
    text-align: center;
    box-sizing: border-box;
    &.wpwax-vm-usermedia-status-unread {
        background-color: var(--color-danger);
    }
}

/* Button Style */
.wpwax-vm-btn {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 2;
    height: 40px;
    padding: 0 25px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: var(--color-white);

    &:hover,
    &:focus {
        color: var(--color-white);
    }

    &.wpwax-vm-btn-dark {
        background-color: var(--color-dark);
        border: 1px solid var(--color-dark);
        &:hover {
            color: var(--color-dark);
            background-color: var(--color-white);
            svg path {
                fill: var(--color-dark);
            }
        }
    }

    &.wpwax-vm-btn-primary {
        background-color: var(--primary-button-bg);
        border-radius: var(--btn-radius);
        color: var(--primary-button-color);
        border: 1px solid var(--primary-button-bg);
        &:not(:hover):not(:active):not(.has-background) {
            background-color: var(--primary-button-bg);
        }
        &:hover {
            color: var(--primary-button-bg);
            background-color: var(--color-white);
            svg path {
                fill: var(--primary-button-bg);
            }
        }
    }

    &.wpwax-vm-btn-light {
        color: var(--color-text);
        background-color: var(--color-light);
        border: 1px solid var(--color-light);
        &:hover {
            color: var(--color-dark);
            background-color: #cfd1d4;
        }
    }

    &.wpwax-vm-btn-gray {
        color: var(--color-dark);
        background-color: var(--color-bg-general);
        border: 1px solid var(--color-bg-general);
        &:hover {
            background-color: var(--color-white);
        }
    }

    &.wpwax-vm-btn-danger {
        color: var(--color-white);
        background-color: var(--color-danger);
        border: 1px solid var(--color-danger);
        &:hover {
            color: var(--color-danger);
            background-color: var(--color-white);
            svg path {
                fill: var(--color-danger);
            }
        }
    }

    &.wpwax-vm-btn-white {
        transition: color 0.2s ease-in;
        color: var(--color-dark);
        background-color: var(--color-white);
        border: 1px solid var(--color-white);
        &:hover {
            color: var(--color-primary);
            background-color: var(--color-white);
        }
    }
}

/* Button Size */
.wpwax-vm-btn {
    &.wpwax-vm-btn-lg {
        height: 56px;
    }

    &.wpwax-vm-btn-md {
        height: 44px;
    }
}

/* Block Button Style */
.wpwax-vm-btn-block {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Form Elements Style */
.wpwax-vm-form-group {
    margin-bottom: 20px;

    .wpwax-vm-form__element {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        min-height: 40px;
        border-radius: 6px;
        padding: 7px 16px;
        border: 0 none;
        box-sizing: border-box;
        color: var(--color-dark);
        border: 2px solid transparent;
        margin: 0;
        background-color: var(--color-bg-general);
        @media only screen and (max-width: 1199px) {
            padding: 6px 16px;
            min-height: 38px;
        }
        &:focus {
            border-color: var(--color-dark);
        }
    }

    textarea {
        &.wpwax-vm-form__element {
            min-height: 100px;
            resize: none;
        }
    }

    .wpwax-vm-form-group__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        span,
        > label {
            font-size: 16px;
            font-weight: 500;
            color: #4d4d4d;
            @media only screen and (max-width: 1199px) {
                font-size: 14px !important;
            }
        }
        .wpwax-vm-require-sign {
            margin: 0 0 0 6px;
        }
    }
}

/* Form Element with icon */
.wpwax-vm-form-group {
    position: relative;

    &.wpwax-vm-form-icon-left {
        .wpwax-vm-input-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            line-height: 1;
            transform: translateY(-50%);
        }

        .wpwax-vm-form__element {
            padding-left: 40px;
        }
    }
}

.wpwax-vm-checkbox {
    display: flex;
    align-items: center;

    input[type='checkbox'] {
        width: 20px;
        min-width: 20px;
        height: 20px;
        border-radius: 4px;
        margin: 0;
        -webkit-appearance: none;
        border: 2px solid #d9d9d9;

        &:focus {
            border-color: #d9d9d9;
            box-shadow: 0 0;
        }

        &:checked {
            &:before {
                display: flex;
                align-items: center;
                // justify-content: center;
                font-family: dashicons;
                position: relative;
                top: -2px;
                left: -1px;
                width: 20px;
                height: 20px;
                border-radius: 4px;
                content: '\f147';
                font-size: 18px;
                margin: 0;
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }
    }

    label {
        font-size: 14px;
        font-weight: 500;
        position: relative;
        top: 0;
        line-height: 1;
        color: var(--color-dark);
    }
}

.wpwax-vm-radio {
    input[type='radio'] {
        width: 20px;
        height: 20px;
        border: 2px solid #d9d9d9;

        &:focus {
            border-color: #d9d9d9;
            box-shadow: 0 0;
        }

        &:checked {
            background-color: var(--color-primary);
            border-color: var(--color-primary);

            &:focus {
                border-color: var(--color-primary);
            }

            &:before {
                position: relative;
                top: 1px;
                left: 1px;
                background-color: var(--color-white);
            }
        }
    }
}

.wpwax-vm-switch-list,
.wpwax-vm-chekbox-list,
.wpwax-vm-radio-list {
    margin-top: 18px;
    .wpwax-vm-switch-single,
    .wpwax-vm-chekbox-single,
    .wpwax-vm-radio-single {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        span {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            top: -2px;
            line-height: 1;
            color: #030308;
            svg {
                width: 18px;
                height: 18px;
                margin-right: 10px;
                path {
                    fill: rgb(137, 137, 137);
                }
            }
        }
    }
}

/* Wpwax Dropdown */
.wpwax-vm-dropdown {
    position: relative;

    &.wpwax-vm-dropdown-show {
        .wpwax-vm-dropdown__content {
            display: block;
        }
    }

    .wpwax-vm-dropdown__toggle {
        display: flex;
        justify-content: space-between;
        text-decoration: none;

        &:focus {
            outline: none;
            box-shadow: 0 0;
        }
        .wpwax-vm-dropdown__toggle--text + div {
            position: relative;
            top: 6px;
            line-height: 0;
        }
    }

    .wpwax-vm-dropdown__content {
        position: absolute;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 10px 8px;
        border-radius: 10px;
        list-style: none;
        display: none;
        box-shadow: 0 6px 40px rgba(144, 144, 144, 0.25);
        background-color: #fff;

        li {
            margin: 0;
            a {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                padding: 0 20px;
                border-radius: 8px;
                min-height: 38px;
                text-decoration: none;
                color: var(--color-dark);

                &:hover,
                &.wpwax-vm-active {
                    background-color: var(--color-bg-general);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0;
                }
            }
        }
    }
}

/* Wpwax Dropdown Selectable */
.wpwax-vm-dropdown {
    &.wpwax-vm-dropdown-selectable {
        .wpwax-vm-dropdown__toggle {
            align-items: center;
            min-height: 44px;
            border-radius: 6px;
            padding: 0 20px;
            background-color: #ededed;

            .wpwax-vm-dropdown__toggle--text {
                .wpwax-vm-dropdown__toggle--text-content {
                    margin-left: 0;
                }
            }
        }

        .wpwax-vm-dropdown__content {
            top: 45px;
            width: -webkit-fill-available;
            box-shadow: 0 10px 40px rgba(134, 142, 174, 0.3);

            li {
                a {
                    padding: 0 15px;

                    &:hover {
                        color: var(--color-white);
                        background-color: var(--color-primary);
                    }
                }
            }
        }
    }
}

/* wpwax Card */
.wpwax-vm-card{
    border: 1px solid var(--color-border-light);
    border-radius: 10px;
    margin-bottom: 30px;
    .wpwax-vm-card-header{
        border-bottom: 1px solid var(--color-border-light);;
        padding: 15px 20px;
        margin-bottom: 0;
        .wpwax-vm-card-header__title{
            font-size: 16px;
            font-weight: 500;
            margin: 0;
            color: var(--color-dark);
        }
    }
    .wpwax-vm-card-body{
        padding: 15px 20px;
    }
}

/* Wpwax Vm Media */
.wpwax-vm-media {
    display: flex;
    align-items: flex-start;

    .wpwax-vm-media__body {
        flex: 1;
        margin-left: 10px;
        position: relative;
        top: 2px;

        .wpwax-vm-media__title {
            font-size: 16px;
            font-weight: 500;
            margin: 0 0 4px;
            white-space: nowrap;
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color-dark);
        }

        .wpwax-vm-media__meta {
            font-size: 12px;
            font-weight: 500;
            color: var(--text-color);
        }
    }
}
.wpwax-vm-dropdown {
    position: relative;

    &.wpwax-vm-dropdown-fixed {
        .wpwax-vm-dropdown__content {
            min-width: 220px;
            left: auto;
            right: 0;
        }
    }

    .wpwax-vm-dropdown__toggle {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    }

    .wpwax-vm-dropdown__toggle--text {
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-dark);

        > div {
            position: relative;
            bottom: -2px;
        }

        .wpwax-vm-dropdown__toggle--text-content {
            display: inline-block;
            margin-left: 8px;
            color: #4d4d4d;
        }
    }
}

.wpwax-vm-dropdown__content {
    position: absolute;
    width: calc(100% - 16px);
    left: 0;
    top: 20px;
    padding: 8px;
    border-radius: 10px;
    display: none;
    z-index: 100;
    box-shadow: 0 6px 40px rgba(144, 144, 144, 0.25);
    background-color: var(--color-white);

    &.wpwax-vm-show {
        display: block;
    }

    li {
        a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            border-radius: 8px;
            color: var(--color-dark);

            &:hover {
                background-color: var(--color-bg-general);
            }

            .wpwax-vm-dropdown-item-icon {
                line-height: 1;
                margin-right: 10px;
            }
        }
    }
}

/* Table Style */
.wpwax-vm-table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

.wpwax-vm-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 0;
    margin-top: 0;
    overflow: visible;

    thead {
        background-color: var(--color-light);
        border-radius: 6px;

        tr {
            th {
                padding: 16px 20px;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
                color: var(--color-text);
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: var(--color-lighter);
                }
            }

            td {
                font-size: 14px;
                font-weight: 400;
                color: var(--color-text);
                padding: 15px 20px;
            }
        }
    }

    tr {
        th,
        td {
            &:first-child {
                border-radius: 6px 0 0 6px;
            }

            &:last-child {
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

/* Notice Style */
.wpwax-vm-notice {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
    border-radius: 8px;
    padding: 0 15px;
    color: var(--color-white);

    &.wpwax-vm-notice-success {
        background-color: var(--color-success);
    }

    &.wpwax-vm-notice-warning {
        color: var(--color-warning-deep);
        background-color: var(--color-warning-light);
    }

    &.wpwax-vm-notice-danger {
        background-color: var(--color-danger);
    }

    .wpwax-vm-notice__text {
        line-height: 1;
    }

    .wpwax-vm-notice__close {
        text-decoration: none;
        position: absolute;
        right: 15px;
        top: 2px;
        color: var(--color-white);
    }

    &.wpwax-vm-hide {
        display: none;
    }
}

/* Wpwax vm Modal */
.wpwax-vm-modal {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 540px;
    border-radius: 20px;
    display: none;
    background-color: var(--color-white);
    z-index: 100002;

    &.wpwax-vm-show {
        display: block;
    }
}

.wpwax-vm-modal__header,
.wpwax-vm-modal__body,
.wpwax-vm-modal__footer {
    padding: 15px 30px;
}

.wpwax-vm-modal__header {
    position: relative;
    border-bottom: 1px solid var(--color-border-light);

    .wpwax-vm-modal__close {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--color-dark);
        transition: 0.3s;
        text-decoration: none;

        &:hover {
            .dashicons {
                color: var(--color-danger);
            }
        }

        .dashicons {
            font-size: 20px;
        }
    }
}

.wpwax-vm-modal__footer {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    background-color: var(--color-bg-gray);
}

.wpax-vm-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100001;
    display: none;

    &.wpwax-vm-show {
        display: block;
    }
}

/* Modal Basic */
.wpwax-vm-modal {
    &.wpwax-vm-modal-basic {
        .wpwax-vm-modal__header {
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px 30px;

            .wpwax-vm-modal-title {
                margin: 0;
            }
        }

        .wpwax-vm-modal-close {
            position: absolute;
            right: 20px;
            top: 15px;
            text-decoration: none;

            .dashicons {
                color: var(--color-dark);
            }
        }

        .wpax-vm-modal__body {
            padding: 30px;
        }

        .wpwax-vm-modal__footer {
            display: flex;
            justify-content: flex-end;

            .wpwax-vm-modal-footer__action {
                margin: -5px;

                a {
                    padding: 0 20px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    min-height: 34px;
                    text-decoration: none;
                    margin: 5px;
                    color: var(--color-white);

                    &.wpwax-vm-modal-footer__action--cancel {
                        background-color: var(--color-danger);
                    }

                    &.wpwax-vm-modal-footer__action--ok {
                        background-color: var(--color-success);
                    }
                }
            }
        }
    }
}

/* Not Fouond Text Style */
.wpwax-notfound-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    min-height: 100px;
    color: var(--color-dark);
}

/* Loading Animation */
.wpwax-vm-loading-spin {
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    position: relative;
    transform: rotate(45deg);
    animation: wpwaxRotate 1.2s infinite linear;

    .wpwax-vm-spin-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: scale(0.75);
        position: absolute;
        opacity: 0.3;
        animation: wpwaxSpinMove 1s infinite linear alternate;
        background-color: var(--color-primary);

        &:nth-child(1) {
            left: 0;
            top: 0;
        }

        &:nth-child(2) {
            right: 0;
            top: 0;
            animation-delay: 0.3s;
        }

        &:nth-child(3) {
            left: 0;
            bottom: 0;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        &:nth-child(4) {
            right: 0;
            bottom: 0;
            animation-delay: 0.7s;
        }
    }
}
.wpwax-vm-loder-active {
    position: relative;

    &:after {
        position: absolute;
        left: -20px;
        top: -20px;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        content: '';
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
    }
}

/* wpwax-vm Note Style */
.wpwax-vm-note{
    margin-bottom: 30px;
    padding: 30px;
    background-color: #dcebfe;
    border-radius: 4px;
    display: flex;
    .wpwax-vm-note__icon{
        margin-right: 10px;
    }
    .dashicons{
        font-size: 30px;
        opacity: .2;
        margin-right: 15px;
    }
    .wpwax-vm-note__title{
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--color-primary);
    }
    .wpwax-vm-note__single{
        &:not(:last-child){
            margin-bottom: 6px;
        }
        .wpwax-vm-note__single--label{
            font-weight: 500;
            margin-right: 5px;
            color: #c71585;
        }
    }
}

// ----------------------------------------
.wpwax-vm-record-send-progress {
    min-height: 600px;
    font-family: var(--font-family);
    .wpwax-vm-record-send-progress__content {
        h4,
        p {
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
        }
        p {
            margin-top: 12px;
        }
    }
}
.wpwax-vm-record-send-progress__bar {
    position: relative;
    width: 164px;
    height: 164px;
    border-radius: 50%;
    margin: 0 auto 40px;

    &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 158px;
        height: 158px;
        border-radius: 50%;
        background-color: white;
    }

    &:before {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-image: linear-gradient(
                90deg,
                #6551f2 0%,
                transparent 0%,
                transparent
            ),
            linear-gradient(270deg, #6551f2 50%, #e8e8e8 50%, #e8e8e8);
        animation: wpwaxVMSpiner 900ms infinite linear forwards;
        content: '';
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 600;
        z-index: 101;
    }
}

@keyframes wpwaxVMSpiner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.wpwax-vm-contact-form__title {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 1.333;
    margin: 0 0 30px;
    color: var(--color-dark);
}

.wpwax-vm-transparent-form-control {
    border: none;
    outline: none;
    background: transparent !important;
}

.wpwax-vm-btn svg {
    margin-left: 10px;
}

.wpwax-vm-btn div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wpwax-vm-h-20 {
    height: 20px;
}

.wpwax-vm-w-f {
    width: 100%;
}

.wpwax-vm-h-100pr {
    height: 100%;
}

.wpwax-vm-font-family {
    font-family: var(--wp--preset--font-family--source-serif-pro);
}

.wpwax-vm-font-weight-500 {
    font-weight: 500;
}

.wpwax-vm-font-size-16 {
    font-size: 16px;
}

.wpwax-vm-font-size-20 {
    font-size: 20px;
}

.wpwax-vm-font-w-bold {
    font-weight: bold;
}

.wpwax-vm-success__title {
    font-size: var(--font-size-thank-title);
    font-weight: 600;
    font-family: var(--font-family);
    margin-bottom: 16px;
    color: var(--color-thank-title);
}

.wpwax-vm-d-block {
    display: block;
}

.wpwax-vm-d-flex {
    display: flex;
}

.wpwax-vm-flex-grow-1 {
    flex-grow: 1;
}

.wpwax-vm-flex-direction-column {
    flex-direction: column;
}

.wpwax-vm-justify-content-center {
    justify-content: center;
}

.wpwax-vm-text-center {
    text-align: center;
}

.wpwax-vm-text-danger {
    color: var(--color-danger) !important;
}

.wpwax-vm-text-white {
    color: #ffffff;
}

.wpwax-vm-text-color {
    color: var(--color-text);
}

.wpwax-vm-record-send-success__top {
    padding: 30px 0 40px;
    background-color: #030308;
    border-radius: 25px 25px 0 0;
    min-height: 185px;
    .wpwax-vm-record-send-success__check {
        display: flex;
        justify-content: center;
    }
}

.wpwax-vm-space-between {
    justify-content: space-between;
}

.wpwax-vm-empty-messagebox {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
}

/* Not Fouond Text Style */
.wpwax-notfound-text,
.wpwax-vm-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    min-height: 100px;
    color: var(--color-dark);
    p {
        font-size: 15px;
        margin: 0;
    }
}

// Alerts
.wpwax-vm-alert {
    padding: 8px 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: lightgray;
}

.wpwax-vm-alert-danger {
    color: red;
    background-color: #ffd2d2;
}

/* Empty Table Box */
.wpwax-empty-table-box {
    text-align: center;
    padding-top: 30px;
    .wpwax-empty-table-box__img {
        margin-bottom: 20px;
    }
    .wpwax-empty-table-box__content {
        p {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 18px;
        }
    }
}

// App Containers
.wpwax-vm-app-container-full {
    width: 100% !important;
    max-width: unset !important;
}

/* Animation Keyframe */
@keyframes wpwaxSpinMove {
    100% {
        opacity: 1;
    }
}

@keyframes wpwaxRotate {
    100% {
        transform: rotate(410deg);
    }
}

@keyframes wpwaxVideoOpen {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes wpwaxVmScaling {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Css */
@media only screen and (max-width: 1299px) {
    .wpwax-vm-note{
        padding: 15px;
    }
    .wpwax-vm-btn{
        font-size: 14px;
    }
}