@import './core-global.scss';

/* Avatar Position Style */
#wpwax-vm-chatbox{
    &.wpwax-vm-bottom-middle{
        .wpwax-vm-chatbox-content{
            right: 50%;
            transform: translateX(70px);
        }
        .wpwax-vm-chatbox-screen{
            right: 50%;
            left: 50%;
            margin-left: -215px;
        }
    }
    &.wpwax-vm-bottom-left{
        .wpwax-vm-chatbox-content{
            right: auto;
            left: 25px;
        }
        .wpwax-vm-chatbox-screen{
            right: auto;
            left: 25px;
        }
    }
}

/* Style For Public User Dashboard */
#wpwax-vm-chatboard {
    padding: 0 25px 35px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--color-bg-page);
    @media only screen and (max-width: 767px) {
        padding: 0 15px 35px;
    }
    .wpwax-vm-messagebox {
        margin: 0 10px 0 30px;
        @media only screen and (max-width: 1199px) {
            margin: 0 0 0 30px;
        }
        @media only screen and (max-width: 991px) {
            width: 100%;
            margin: 30px 15px 0 15px;
        }
    }
}
.wpwax-vm-sidebar {
    .wpwax-vm-sidebar-top .wpwax-vm-sidebar-title {
        font-size: 18px;
        font-weight: 600;
    }
    ul {
        padding: 0;
    }
}

.wpwax-vm-messagebox {
    h2 {
        font-size: 24px;
        font-family: 'Inter', sans-serif;
    }
}

.wpwax-hg-screen-toggler {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ff0000;
    position: fixed;
    bottom: 40px;
    right: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transform: scale(1);
    animation: wpwaxHgPulse 2s infinite;
}

.wpwax-vm-bottom-left{
    .wpwax-hg-screen-toggler {
        right: auto;
        left: 30px;
    }
}

.wpwax-vm-bottom-middle{
    .wpwax-hg-screen-toggler {
        right: 50%;
        transform: translateX(-50%);
    }
}